<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="MobileOptimized" content="176" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="robots" content="noindex,nofollow" />
    <!-- For SOCIAL MEADIA ICONs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <title>NISKRIYAAY - AN EASY WAY TO INVEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates/stye.css') }}">
    <script src="{{ url_for('static', filename='templates/main.js') }}"></script>
    <!-- For SOCIAL MEADIA ICONs
    <link rel="stylesheet" href="/templates/style.css">
    <script src="/templates/main.js" defer></script>
   -->
  </head>
  <body>
    <div class="Header">
      <div class="First-Letter Page-Title">N</div><div class="Page-Title">ISHKRIYAAY</div>
      <div class="CommentTt">AN EASY WAY TO TRADE</div>
      <div class="D-Watch1"><span class="D-Watch" id="t"></span></div>
    </div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Niskriyaay</span></a>❤️</div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
          },{
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
          },{
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
          },{
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
          },{
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
          }
        ],
        "showSymbolLogo": true,
        "colorTheme": "light",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "in"
      }
      </script>
    </div>
    <!-- TradingView Widget END -->
    <div class="Content">
    <div class="ExampleDesign">
      <div class="BlockDesign">
        <div class="ExampleDesignImgTitle">Smooth Trading </div>
        <img class="ExampleDesignImg" src="/src/TradingExample.png" alt="" />
      </div>
    </div>
      
    </div>
    <div class="CryptoNewsOut">
      <div class="CryptoNewsTitle">◆ CRYPTO NEWS ◆</div>
      <div id="CryptoNewsIn" class="CryptoNewsIn"></div>
    </div>
    <div>
      <div class="AboutInvestment">
        <div class="TitleInevstment">Investment</div>
        <div class="SummaryInvestment">The primary purpose of investing is to create wealth. Investments allow you to meet your short-term and long-term goals. They also help you lead a comfortable life post-retirement. Investing ensures that you're prepared for unforeseen emergencies.</div>
      </div>
    </div>
    <div class="Footer">
      <div class="WebMenu">
        <div class="WebmenuItem">Home</div>
        <div class="WebmenuItem">Professional</div>
        <div class="WebmenuItem">Blog</div>
        <div onclick="javascript:window.location.href='about.html' " class="WebmenuItem">Contact</div>
        <div class="WebmenuItem">FAQ</div>
        <div class="WebmenuItem">Terms & Services</div>
        <div class="WebmenuItem">Privacy & Policies</div>
      </div>
      <hr />
      <div class="Copyright">
        <span>
          Made in ❤️ from 🇮🇳 | © Copyright @ 2022
        </span>
    </div>
  </body>
</html>


